@import '~style/helpers';

.list {
  section {
	display: flex;
	height: 48px;
	align-items: center;
	justify-content: space-between;
	h4 {
	  text-align: left;
	  flex-grow: 1;
	  margin-left: 25px;
	}
	img {
	  width: 32px;
	  height: 32px;
	}
	.last-time {

	}
  }
}
