@import '~style/helpers';

.topic {
  width: 1320px;
  min-width: 960px;
  margin: 0 auto;

  header {
	h4 {
	  font-size: 20px;
	}
  }
  img {
	max-width: 100%;
  }

}

.reply {
  position: relative;
  margin: 15px auto;
  min-height: 70px;
  padding: 5px auto;
  border: 1px solid #333;
  h4 {
	margin: 0 0 4px 70px;
  }
  article {
	margin-left: 70px;
  }
}

.avatar {
  position: absolute;
  top: 2px;
  left: 15px;
  height: 36px;
  width: 36px;
  img {
	height: 36px;
	width: 36px;
  }
}

