@import '~style/helpers';

.home {
  padding: 56px 20px;
  min-height: 100%;
  width: 100%;
}

.nav {
  display: flex;
  width: 1320px;
  min-width: 920px;
  margin: 0 auto;
  align-items: center;
  justify-content: flex-start;
  li {
	flex: auto;
	font-size: 18px;
	text-align: center;
	list-style: none;
	span {
	  display: inline-block;
	  height: 30px;
	  width: 120px;
	  cursor: pointer;
	  line-height: 30px;
	  font-weight: 400;
	}

  }
}

.active {
  background-color: limegreen;
  border-radius: 8px;
}

.pagination {
  display: flex;
  justify-content: flex-end;
  margin: 15px auto;
  align-items: center;
  height: 40px;
  button {
	border-radius: 5px;
	margin: 0 15px;
  }

}
