@import '~style/helpers';

.nav {
	display: flex;
	margin:auto;
  width: 1320px;
  min-width: 920px;
	padding-top: 15px;
  align-items: center;
  justify-content: flex-start;
  a {
	flex: auto;
	font-size: 18px;
	text-align: center;
	list-style: none;

	span {
	  display: inline-block;
	  height: 30px;
	  width: 120px;
	  cursor: pointer;
	  line-height: 30px;
	  font-weight: 400;
	}
  }
}

