@import 'helpers';

html, body {
  height: 100%;
  width: 100%;
  padding: 0;
  margin: 0;
  background: #FAFAFA;
  font-family: 'Helvetica Neue', arial, sans-serif;
  font-weight: 400;
  color: #444;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
}

#app {
  height: 100%;
}

a:active, a:hover, a:visited, a:link {
  text-decoration: none;
  color: inherit;
}

a.active {
  span{
    background-color: limegreen;
    border-radius: 8px;
  }
}

.header {
  width: 100%;
  height: 56px;
	padding: 0;
	padding-bottom: 44px;
  background: #673AB7;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
  header {
	min-width: 960px;
	width: 1320px;
	margin: 0 auto;
  }
  h1 {
	float: left;
	margin: 0;
	padding: 0 15px;
	font-size: 24px;
	line-height: 56px;
	height: 56px;
	font-weight: 400;
	color: #FFF;
  }

  nav {
	height: 56px;	
	float: right;
	font-size: 100%;
	a {
	  display: inline-block;
	  height: 56px;
	  line-height: 56px;
	  padding: 0 15px;
	  min-width: 50px;
	  text-align: center;
	  background: rgba(255, 255, 255, 0);
	  text-decoration: none;
	  color: #EEE;
	  will-change: background-color;

	  &:hover, &:active {
		background: rgba(255, 255, 255, 0.3);
	  }
	}
  }
}